# Dependências do Node (ESSENCIAL)
node_modules/

# Arquivos de Build/Distribuição
dist/
build/

# Arquivos de configuração com chaves secretas (ESSENCIAL)
# Garante que suas chaves de API nunca irão para o GitHub
config.json

# Logs e arquivos de sistema
*.log
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*